[submodule "services/auth"]
	path = services/auth
	url = https://github.com/axel-lukongo/five-stars_auth_svc.git
[submodule "services/messages"]
	path = services/messages
	url = https://github.com/axel-lukongo/five-stars_messages_svc.git
[submodule "services/friends"]
	path = services/friends
	url = https://github.com/axel-lukongo/five-stars_friends_svc.git
[submodule "front-end"]
	path = front-end
	url = https://github.com/axel-lukongo/five-stars_front-end.git
